<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	  layout:decorate="layouts/center_form">
	<body>
		<div layout:fragment="content">
			
			<div>
				<h1 th:text="${title}">Title</h1>
				<span th:if="${error}"><p class="alert alert-danger" th:text="${error}">errors</p></span>
			</div>
			<div>
				<form action="#" th:action="@{doRegister}" th:object="${registration}" method="post">
					<div class="col-auto">
						<label class="form-label">First Name:</label>
				        <input class="form-control" type="text" th:field="*{firstName}">
				        <h5 class="alert alert-danger"
							th:if="${#fields.hasErrors('firstName')}"
							th:errors="*{firstName}">First Name Error</h5>
					</div>
					<div class="col-auto">
				        <label class="form-label">Last Name:</label>
				        <input class="form-control" type="text" th:field="*{lastName}">
				        <h5 class="alert alert-danger"
									th:if="${#fields.hasErrors('lastName')}" 
									th:errors="*{lastName}">Last Name Error</h5>
					</div>
					<div class="col-auto">
				        <label class="form-label">Email:</label>
				        <input class="form-control" type="email" th:field="*{email}"></td>
				        <h5 class="alert alert-danger"
									th:if="${#fields.hasErrors('email')}" 
									th:errors="*{email}">Email Error</h5>
					</div>
					<div class="col-auto">
				        <label class="form-label">Phone Number:</label>
				        <input class="form-control" type="text" th:field="*{phone}">
				        <h5 class="alert alert-danger"
							th:if="${#fields.hasErrors('phone')}" 
							th:errors="*{phone}">Phone Error</h5>
	                </div>
					<div class="col-auto">
				        <label class="form-label">Username:</label>
				        <input class="form-control" type="text" th:field="*{username}">
				        <h5 class="alert alert-danger"
							th:if="${#fields.hasErrors('username')}" 
							th:errors="*{username}">Username Error</h5>
	                </div>
					<div class="col-auto">
				        <label class="form-label">Password:</label>
				        <input class="form-control" type="password" th:field="*{password}">
				        <h5 class="alert alert-danger"
							th:if="${#fields.hasErrors('password')}" 
							th:errors="*{password}">Password Error</h5>
					</div>
					<div class="col-auto">
						<label class="form-label">Confirm Password:</label>
						<input class="form-control" type="password" th:field="*{confirmPassword}">
						<h5 class="alert alert-danger"
							th:if="${#fields.hasErrors('confirmPassword')}" 
							th:errors="*{confirmPassword}">Confirm Password Error</h5>
					</div>
				   	<div class="col-auto">
						<input class="btn btn-success my-2" type="submit" value="Register">
						<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">List of Errors</div>
						<div th:each="err : ${#fields.errors('*')}" class="alert alert-danger">
							<span th:text="${err}"></span>
						</div>
					</div>
				</form>
			
				<p>Already have an account?<a href="/login/">Login here!</a></p>
                <p>Forgot your password?<a href="">Reset here!</a> - soon to come</p>
			</div>
		</div>
	</body>
</html>
