<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="layouts/default">
    <body>
        <div layout:fragment="content">
			<!-- ALERT -->
			<div class="row justify-content-center" sec:authorize="hasRole('ROLE_admin')">
				<div class="col-md-6">
					<div th:if="${message}" th:class="'alert alert-dismissible ' +  
								(${messageType} == 'success' ? 'alert-success' : 'alert-danger')" 
								role="alert" 
								id="flash-alert">
						<strong th:text="${message}">Success/Failure message</strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>
				<div class="col-md-6">
					<div th:if="${error}" th:class="'alert alert-dismissible ' +  
								(${messageType} == 'success' ? 'alert-success' : 'alert-danger')" 
								role="alert" 
								id="flash-alert">
						<strong th:text="${error}">Success/Failure message</strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>
			</div>
            <div class="row">
                
                <div class="col-10 g3 align-items-center">
                    <h1 th:text="${title}">User Lists</h1>
                    <p th:text="${message}">Welcome to your Milestone Inventory User List!</p>
                </div>
               
            </div>
            <div class="row">
                
                <div class="col">
                    <table class="table table-striped" id="users">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
								<th scope="col">First Name</th>
								<th scope="col">Last Name</th>
								<th scope="col">Creation Date</th>
                                <th scope="col">Roles</th>
								<th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user, iterStat : ${users}">
                                <th scope="row" th:text="${iterStat.index + 1}"></th>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.email}"></td>
								<td th:text="${user.firstName}"></td>
								<td th:text="${user.lastName}"></td>
								<td th:text="${user.createdDate}"></td>
                                <td th:text="${user.role}"></td>
								<td>
                                    <a th:href="@{/admin/users/edit/(user_id=${user.userId})}"><span class="feather-edit" data-feather="edit"></span></a>
                                    <a th:href="@{/admin/users/delete/(user_id=${user.userId})}"
											onclick="return confirm('Are you sure you want to delete this user?');">
										<span class="feather-delete" data-feather="x-square"></span>
									</a>
								</td>
							</tr>
							 <tr th:if="${#lists.isEmpty(users)}">
								<td colspan="4" class="text-center">No users found</td>
							 </tr>
                        </tbody>
                    </table>
					<script>
										var DataTable = require( 'datatables.net' );
										require( 'datatables.net-responsive' );
										 
										let table = new DataTable('#users', {
										    responsive: true
										});</script>
										<script>
										$(document).ready( function () {
										    $('#users').DataTable(						 {
												stateSave: true,
												layout: {
												        topStart: {
												            pageLength: {
												                menu: [ 10, 25, 50, 100 ]
												            }
												        },
												        topEnd: {
												            search: {
												                placeholder: 'Type search here'
												            }
												        }
														
												},
												columnDefs: [ {
											        targets: -1,
											        className: 'dt-body-right',
											    
					                                targets: 0,
					                                className: 'dt-body-center'
					                            }
											  ]
											});
										} );</script>
                </div>
            </div>
			<div class="row">	
							<div class="col text-center footer">
								<p><a th:href="@{/admin/dashboard/}">Back to Admin Dashboard</a></p>
							</div>
						</div>
        </div>
		<script>
				  document.addEventListener('DOMContentLoaded', () => {
				    const flash = document.getElementById('flash-alert');
				    if (!flash) return;

				    flash.classList.add('fade','show');

				    setTimeout(() => {
				      flash.classList.remove('show');
				      flash.addEventListener('transitionend', () => flash.remove(), { once: true });
				    }, 4000);
				  });
				</script>
	</body>
																															                                                                                                                    </tr>
																																																												                            <tr th:if="${#lists.isEmpty(users)}">
																																																																				                                                                                                                            <td colspan="4" class="text-center">No users found</td>
                                                                                                                                                                                                                                                </tr>
																																																												                           